loglevel=silly



# What is the .npmrc file?
# This file is a configuration file for NPM, it defines the settings on how NPM should behave when running commands.

# What does the rc mean on configuration files, like for example .bowerrc?

# The rc, taking from a SO post, can stand for various things, but I will take that in this context, it stands for Runtime configuration.