loglevel=silly

# When you npm install a bunch of information gets piped to you. By default, the npm command line tool limits how much of this information is actually output into the console when installing.
# There are varying degrees of output that you can assign at install, or by default, if you change it with npm config in your .npmrc file. The options, from least to most output,
# are: silent, error, warn, http, info, verbose, and silly.



save-exact=true
# When you delete your node_modules folder and you run npm install, the versions of the installed packages could get updated 
# when higher ones are available and that can potentially break your application.  so we used :-   save-exact=true


# For example from 5.1.3 maybe the package is going to uptade to 5.1.8

# So, the --save-exact will generate the next package.json code

# "devDependencies": {
#     "webpack": "5.1.3",
# }
# Whithout the ^ prefix to the version of the package, the installed version will be always the same as specified (here, Webpack version 5.1.3).





# What is the .npmrc file?
# This file is a configuration file for NPM, it defines the settings on how NPM should behave when running commands.

# What does the rc mean on configuration files, like for example .bowerrc?

# The rc, taking from a SO post, can stand for various things, but I will take that in this context, it stands for Runtime configuration.