* {
  box-sizing: border-box;
}

div.containerWatch {
  width: 100vw;
  height: 100vh;
}

div.SubWatch {
  position: relative;
  display: block;
  width: 55%;
  background: rgba(30, 30, 32, 0.3);
  margin: auto;
  text-align: center;
  top: 50px;
  height: 380px;
  overflow: auto;
  border-radius: 10px;
}

div.textWatch {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  background-color: cadetblue;
  color: azure;
  height: 60px;
}
.textWatchContainer {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
  animation-name: textWatchContainer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes textWatchContainer {
  25% {
    opacity: 1;
    color: rgba(30, 130, 32, 1);
  }
  50% {
    opacity: 0.5;
    color: rgba(130, 50, 82, 0.5);
  }
  75% {
    opacity: 0.1;
    color: rgba(3, 10, 62, 0.4);
  }
  100% {
    opacity: 1;
    color: rgba(0, 50, 132, 0.1);
  }
}

/* div.showTimer {
  position: relative;
  top: 50px;
  display: block;
  width: 100%;
  height: 60px;
}
div.showTimer span.showTimerText {
  display: inline-block;
  margin-top: 1px;
  font-size: 50px;
} */

div.buttonOfTimer {
  position: relative;
  top: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  /* background-color: burlywood; */
}

div.resetPauseResumeButton {
  display: flex;
}

.resetTimerButton,
.PauseResumeTimerButton {
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  font-size: 25px;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  height: 60px;
  width: 130px;
  margin-left: 20px;
  margin-right: 20px;
}

.resetTimerButton:hover {
  background-color: rgb(212, 198, 171);
}
.resetTimerButton span,
.PauseResumeTimerButton span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 1s;
  letter-spacing: 1px;
}

.resetTimerButton:hover span {
  padding-right: 25px;
  color: white;
}

.resetTimerButton span:after {
  content: "\00bb";
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  right: -20px;
}
.resetTimerButton:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
}

/* PauseResumeTimerButton */

.PauseResumeTimerButton {
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  font-size: 25px;
  border: 1px solid rgb(129, 154, 129);
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  height: 60px;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}
.PauseResumeTimerButton:hover {
  background-color: rgb(129, 154, 129);
}

.PauseResumeTimerButton span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 1s;
  letter-spacing: 1px;
}

.PauseResumeTimerButton:hover span {
  padding-right: 20px;
  color: black;
}

.PauseResumeTimerButton span:after {
  content: "\00bb";
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  right: -20px;
}
.PauseResumeTimerButton:hover span:after {
  opacity: 1;
  right: 0;
  color: black;
}

/* startTimerButton */

.startTimerButton {
  display: inline;
  width: 120px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid salmon;
  padding: 10px;
  transition: all 1s;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.startTimerButton:hover {
  background-color: salmon;
}

.startTimerButton span {
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  letter-spacing: 2px;
  transition: all 1s;
  position: relative;
}

.startTimerButton:hover span {
  padding-right: 25px;
  color: azure;
}

.startTimerButton span:after {
  content: "\00bb";
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  right: -20px;
}
.startTimerButton:hover span:after {
  opacity: 1;
  right: 0;
  color: azure;
}

/* Text input filed of timer */
.showTimerSecond {
  display: flex;
  justify-content: center;
  position: relative;
  top: 75px;
}

input[type="number"].inputStopTimer {
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  background: transparent;
  font-size: 40px;
  border-bottom: 1px solid gray;
}

div.TimerName {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 25px;
  font-size: 30px;
  height: 40px;
  border-radius: 20px;
}

.timerPElement {
  animation-name: timer-name;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes timer-name {
  0% {
    color: red;
    transform: rotate(0deg);
  }
  25% {
    color: rgb(67, 67, 64);
    transform: rotate(90deg);
  }
  50% {
    color: gray;
    transform: rotate(180deg);
  }
  100% {
    color: orangered;
    transform: rotate(360deg);
  }
}
